$colorPrincipalheader: rgb(255, 255, 255);
$colorPrincipalfondos: rgb(184, 9, 9);
$colorPrincipalfooter: rgb(124, 5, 5);
$colorPrincipal: rgb(184, 9, 9);
$letraPrincipal: 'Roboto', sans-serif;
$tamanioLetra: 3vh;
$redes: (
    insta: #ff7f07,
    face: #0066ff,
    whatsapp: rgb(4, 167, 4),   
);